<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}

        {% endblock title %}
    </title>
    {% include 'style.html' %}
    {% include 'script.html' %}
</head>

<body>

    {% block navbar %}

    {% endblock navbar %}

    {% block pagecontent %}

    {% endblock pagecontent %}

    {% block content %}

    {% endblock content %}

    {% block footercontent %}

    {% endblock footercontent %}

</body>

</html>