{% extends 'base.html' %}


{% block title %}
{{judul}}
{% endblock title %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}


{% block pagecontent %}
<div id="mySidenav">


</div>
{% endblock pagecontent %}

{% block content %}




<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
    {% include 'jumbotron.html' %}
    <div class="container">
        <h3>{{judul}}</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi qui, mollitia exercitationem doloremque,
            pariatur delectus voluptatibus aliquam consequatur eum aspernatur hic illo deleniti eos tempora, enim
            obcaecati
            iure! Obcaecati, non?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum cumque nostrum beatae sit, quis molestias
            fugit facilis animi id culpa, at quos eum? Illo nihil corrupti sint, minima commodi necessitatibus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur explicabo, porro rerum nulla sit numquam
            incidunt eum quaerat inventore modi esse temporibus ipsam aut omnis aperiam voluptas necessitatibus iste
            est.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, labore velit? Beatae corrupti delectus
            consequuntur natus culpa et accusantium velit laudantium minus corporis nesciunt itaque soluta, consequatur
            modi sequi! Mollitia.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ratione quis perferendis saepe possimus iusto
            odit voluptatum modi? Amet quidem eius a consectetur officiis quod voluptatem molestiae quaerat enim sint?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex magni excepturi delectus perferendis dolores
            dolor eum assumenda corporis tenetur unde, commodi fuga rem animi error, quaerat, ipsum eos ratione
            laborum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla sequi, facere quos dignissimos optio
            possimus
            nam placeat numquam animi ad fugiat dolorum laboriosam quidem fugit minima iusto voluptate explicabo minus.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod veniam itaque voluptatibus exercitationem
            rerum
            aliquam dicta adipisci nihil fugiat amet labore sunt tenetur possimus, similique dolorem accusamus expedita
            nesciunt eveniet.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti facilis quam dicta sequi neque beatae
            nihil,
            debitis voluptatibus consequuntur? Minima voluptas, id repellendus velit necessitatibus consequatur minus
            alias
            repellat corporis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quasi veniam amet consectetur voluptas!
            Harum,
            suscipit alias autem enim doloremque iusto eum temporibus quisquam est, delectus aperiam aut voluptatem in?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem reprehenderit, corrupti, aspernatur sunt
            harum facere asperiores quibusdam minima ducimus dicta quos nulla praesentium. Veniam quia aspernatur omnis
            numquam deserunt ipsum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dicta iste maxime minima voluptatum unde
            exercitationem, cum fuga autem impedit ullam numquam eius itaque quos delectus eveniet nulla maiores
            laboriosam.
        </p>
    </div>


</div>
<div>
</div>
{% endblock content %}


{% block footercontent %}
<footer>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12">
                <p>&copy; Copyright by PT. Indomaret Jaya <i class="fas fa-laptop"></i></p>
            </div>
        </div>
    </div>
</footer>

{% endblock footercontent %}